<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Backbone.js Library</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
    	<div id="books" class="span12">
		    <form class="form-horizontal well" id="addBook">
		        <div class="form-group">
		        <label for="village" class="ui-hidden-accessible">Village:</label>
				<input type="text" name="village" id="village" value="" placeholder="Village"/>
				</div>

				<div class="form-group">
				

				<label for="person" class="ui-hidden-accessible">Person:</label>
				<input type="text" name="person" id="person" value="" placeholder="person"/>
				</div>
				<div class="form-group">
				<label for="crop" class="ui-hidden-accessible">Crop:</label>
				<input type="text" name="crop" id="crop" value="" placeholder="crop"/>
				</div>
				<div class="form-group">
				<label for="ttype" class="ui-hidden-accessible">Transaction Type:</label>
					<select id = "ttype" name="ttype">
						<option value='buy'>BUY</option>
						<option value='sell'>SELL</option>
	                 </select>
				</div>
				<div class="form-group">
				<label for="quantity" class="ui-hidden-accessible">Quantity:</label>
				<input type="text" name="quantity" id="quantity" value="" placeholder="quantity in kilos"/>
				
				</div>
				<div class="form-group">
				<label for="price" class="ui-hidden-accessible">Price:</label>
				<input type="text" name="price" id="price" value="" placeholder="Price in rupees"/>

				</div>
				<div class="form-group">
				<label for="total" class="ui-hidden-accessible">Total:</label>
				<input type="text" name="total" id="total" value="" placeholder="Total"/>

				</div>
				<div class="form-group">
				<label for="paid" class="ui-hidden-accessible">Paid:</label>
				<input type="text" name="paid" id="paid" value="" placeholder="paid"/>

				</div>
				<div class="form-group">
				<label for="pending" class="ui-hidden-accessible">Pending:</label>
				<input type="text" name="pending" id="pending" value="" placeholder="Pending in rupees"/>

				</div>
				<div class="form-group">
				<label for="remark" class="ui-hidden-accessible">Remark:</label>
				<input type="text" name="remark" id="remark" value="" placeholder="remark"/>
				</div>

				<div class="btn btn-success" id="add">Add</div>
		    </form>

		    <div class="bookContainer">
			    <table id="books_list" class="table">
			    	<th>
			    		<tr>
			         	<td>date </td> 
				        <td>village </td>
				        <td>person </td> 
				        <td>crop </td> 
				        <td>ttype </td> 
				        <td>quantity </td> 
				        <td>price </td> 
				        <td>total </td>
				        <td>paid </td> 
				        <td>pending </td>
				        <td>remark </td>
				    	</tr>
			    	</th>
			    </table>
			</div>

		</div>




	</div>

		<script id="bookTemplate" type="text/template">
		        <td><%= village %></td>
		        <td><%= person %></td> 
		        <td><%= crop %></td> 
		        <td><%= ttype %></td> 
		        <td><%= quantity %></td> 
		        <td><%= price %></td> 
		        <td><%= total %></td>
		        <td><%= paid %></td> 
		        <td><%= pending %></td>
		        <td><%= remark %></td>
		        <td class="btn btn-success">Edit</td>

		    <button class="edit">Edit</button>
		</script>




        <script src="js/lib/jquery.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/lib/backbone.localStorage.js"></script>
        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>