<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Backbone.js Library</title>
        <link href="css/jquery.mobile.min.css" rel="stylesheet">
        <style>
			        	/* Add alternating row stripes */
			.table-stripe tbody tr:nth-child(odd) td,
			.table-stripe tbody tr:nth-child(odd) th {
			  background-color: rgba(0,0,0,0.04);
			}
			/* Add stroke to the header and last item */
			.table-stripe thead th,
			.table-stripe tbody tr:last-child {
			  border-bottom: 1px solid rgba(0, 0, 0, .1);
			}

			.table-stroke thead th {
			  border-bottom: 1px solid rgba(0, 0, 0, .1);
			}
			.table-stroke tbody th,
			.table-stroke tbody td {
			  border-bottom: 1px solid rgba(0, 0, 0, .05);
			}

        </style>
        
        
        
    </head>
    <body>
    	<div data-role="page">
    	<div data-role="content" id="books" class="span12">
    		<a id="addButton" onclick="addButtonClick();" data-role="button" data-icon="plus">Add Data</a>
    		
		    <form id="addBook" style="display:none">
		        <div class="form-row">
			        <label for="village" class="ui-hidden-accessible">गांव:</label>
					<input type="text" name="village" id="village" value="" placeholder="गांव" />
				</div>

				<div class="form-row">
					<label for="person" class="ui-hidden-accessible">नाम:</label>
					<input type="text" name="person" id="person" value="" placeholder="नाम"/>
				</div>
				<div class="form-row">
					<label for="crop" class="ui-hidden-accessible">खेती:</label>
					<input type="text" name="crop" id="crop" value="" placeholder="खेती"/>
				</div>
				<div class="form-row">
					<label for="ttype" class="ui-hidden-accessible">व्यापार करना:</label>
						<select id = "ttype" name="ttype">
							<option value='buy'>खरीदना</option>
							<option value='sell'>बेचना </option>
		                 </select>
				</div>
				
				<div class="form-row">
					<label for="quantity" class="ui-hidden-accessible">राशी:</label>
					<input type="text" name="quantity" id="quantity" value="" placeholder="राशी ( किलो )"/>
				
				</div>
				<div class="form-row">
					<label for="price" class="ui-hidden-accessible">दाम :</label>
					<input type="text" name="price" id="price" value="" placeholder="दाम ( रूपया  )"/>

				</div>
				<div class="form-row">
					<label for="total" class="ui-hidden-accessible">पूरा :</label>
					<input type="text" name="total" id="total" value="" placeholder="पूरा "/>

				</div>
				<div class="form-row">
					<label for="paid" class="ui-hidden-accessible">उजरत :</label>
					<input type="text" name="paid" id="paid" value="" placeholder="उजरत "/>

				</div>
				<div class="form-row">
					<label for="pending" class="ui-hidden-accessible">बाकी :</label>
					<input type="text" name="pending" id="pending" value="" placeholder="बाकी  ( रूपया )"/>

				</div>
				<div class="form-row">
					<label for="remark" class="ui-hidden-accessible">रिमार्क :</label>
					<input type="text" name="remark" id="remark" value="" placeholder="रिमार्क  "/>
				</div>

				<a id="add" data-role="button">सबमिट </a>
		    </form>

		    <a id="listButton" onclick="listButtonClick();" data-role="button" data-icon="arrow-d">List Data</a>

		    <div class="bookContainer" style="display:none">
			    <table data-role="table" id="books_list" class="table-stripe table-stroke">
			    	<thead>
			    		<tr>
				        <th>गांव </th>
				        <th>नाम </th> 
				        <th>खेती </th> 
				        <th>व्यापार </th> 
				        <th>राशी ( किलो ) </th> 
				        <th>दाम ( रूपया  ) </th> 
				        <th>पूरा</th>
				        <th>उजरत </th> 
				        <th>बाकी  ( रूपया )</th>
				        <th>रिमार्क  </th>
				    	</tr>
			    	</thead>
			    	<tbody>
			    	</tbody>
			    </table>
			</div>

		</div>

	</div>

		<script id="bookTemplate" type="text/template">
		        <td><%= village %></td>
		        <td><%= person %></td> 
		        <td><%= crop %></td> 
		        <td><%= ttype %></td> 
		        <td><%= quantity %></td> 
		        <td><%= price %></td> 
		        <td><%= total %></td>
		        <td><%= paid %></td> 
		        <td><%= pending %></td>
		        <td><%= remark %></td>
		        <td><button data-role="button" class="delete" data-theme="e" >Delete</button></td>
		</script>

		<script src="js/lib/jquery.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/lib/backbone.localStorage.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/app.js"></script>
        <script type="text/javascript">

        function addButtonClick() {
        	$("#addBook").toggle();
        }

        function listButtonClick() {
        	$(".bookContainer").toggle();
        }

        </script>

        <script type="text/javascript">

        $(document).ready(function() {
				var form = $( "#addBook" );
		        form.validate({
		                rules: {
		                    village: {
		                        minlength: 2,
		                        maxlength: 200                      
		                    },
		                    //person: "required",
		                    //crop: "required",
		                    //ttype: "required",
		                    quantity: {
		                        //required: true,
		                        number: true
		                    },
		                    price: {
		                        //required: true,
		                        number: true
		                    },
		                    paid : {
		                        //required: true,
		                        number: true
		                    }
		                },
		                messages: {
		                    village: {
		                        //required: 'Village is required',
		                        minlength: 'Min allowed length for name is 2 chars',
		                        maxlength: 'Max allowed length for name is 200 chars'                   
		                    },
		                    //person: "Enter Person",
		                    //crop: "Enter Crop",
		                    //ttype: "Enter Transaction Type",
		                    quantity: {
		                        //required: 'Enter Quantity',
		                        number: 'Only decimals are allowed in price'
		                    },
		                    price: {
		                        //required: 'Enter price',
		                        number: 'Only decimals are allowed in price'
		                    },
		                    paid: {
		                        //required: 'Enter paid',
		                        number: 'Only decimals are allowed in paid'
		                    }
		                }
		            });
				
				$( "#price" ).keyup(function() {
					console.log('price change');
					var quantity = $("#quantity").val();
					var price = $("#price").val();
					console.log(quantity, price);
					if(quantity && price) {
						var total = quantity * price;
						//if(total != parseInt(total, 10))
						//	total = 0;
						$("#total").val(total);
						$("#total").prop("disabled", true);
					}
				  
				});

				$( "#quantity" ).keyup(function() {
					console.log('quantity change');
					var quantity = $("#quantity").val();
					var price = $("#price").val();
					console.log(quantity, price);
					if(quantity && price) {
						var total = quantity * price;
						//if(total != parseInt(total, 10))
						//	total = 0;
						$("#total").val(total);
						$("#total").prop("disabled", true);
					}
				  
				});

				$( "#paid" ).keyup(function() {
					console.log('paid change');
					var total = $("#total").val();1
					var paid = $("#paid").val();
					console.log(total, paid);
					if(quantity && price) {
						var pending = total - paid;
						//if(pending != parseInt(pending, 10))
						//	pending = 0;
						$("#pending").val(pending);
						$("#pending").prop("disabled", true);
					}
				  
				});

				});
			

        </script>


        
    </body>
</html>